{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>

    <div class="blog-grid-img position-relative">
        <img alt="img" height="240px" src="{{ post.image.url }}">
    </div>

    <h6>
    {% for tag in post.tags.all %}
    <a href="{% url 'blog:post-tags' tag.slug %}" class="card-link">{{ tag }}</a>
    {% endfor %}
    </h6>


    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>

    {{ post.body|linebreaks }}

<p>
    <a href="{% url 'blog:post_share' post.id %}">
    Share this post
    </a>
</p>


{% with comments.count as total_comments %}
 <h2>
 {{ total_comments }} comment{{ total_comments|pluralize }}
 </h2>
{% endwith %}

{% for comment in comments %}
     <div class="comment">
         <p class="info">
         Comment {{ forloop.counter }} by {{ comment.name }}
         {{ comment.created }}
         </p>
        {{ comment.body|linebreaks }}
    </div>
 {% empty %}
 <p>There are no comments.</p>
{% endfor %}

{% include "blog/post/comment_form.html" %}

{% endblock %}