{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h1>Dashboard</h1>
<p>Welcome to your dashboard.</p>

<!-- Відображення зображення користувача -->
{% if request.user.profile.photo %}
    <img src="{{ request.user.profile.photo.url }}" alt="Profile Image"
         style="max-width: 200px; height: auto;">
{% else %}
    <p>No profile picture available.</p>
{% endif %}

<p>
Username: {{ request.user.username }} <br>
Name: {{ request.user.first_name }} {{
Date Joined: {{ request.user.date_joined }} <br>
Email: {{ request.user.email }}<br>
Last Login: {{ request.user.last_login }}<br>
</p>

<p>You can <a href="{% url 'account:edit' %}">edit your profile</a></p>
{% endblock %}