
<div class="container">

            <h1>Posts</h1>

                <div class="row mt-n5">
                    <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="blog-grid">
                            <div class="blog-grid-img position-relative"><img alt="img" src="https://www.bootdey.com/image/480x480/00FFFF/000000"></div>
                            <div class="blog-grid-text p-4">
                                <h3 class="h5 mb-3"><a href="#!">Business tool for your customer</a></h3>
                                <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <div class="meta meta-style2">
                                    <ul>
                                        <li><a href="#!"><i class="fas fa-calendar-alt"></i> 10 Jul, <script>document.write(new Date().getFullYear())</script>2022</a></li>
                                        <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                        <li><a href="#!"><i class="fas fa-comments"></i> 38</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="blog-grid">
                            <div class="blog-grid-img position-relative"><img alt="img" src="https://www.bootdey.com/image/480x480/00FFFF/000000"></div>
                            <div class="blog-grid-text p-4">
                                <h3 class="h5 mb-3"><a href="#!">Growth your business strategy</a></h3>
                                <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <div class="meta meta-style2">
                                    <ul>
                                        <li><a href="#!"><i class="fas fa-calendar-alt"></i> 25 Jun, <script>document.write(new Date().getFullYear())</script>2022</a></li>
                                        <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                        <li><a href="#!"><i class="fas fa-comments"></i> 68</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="blog-grid">
                            <div class="blog-grid-img position-relative"><img alt="img" src="https://www.bootdey.com/image/480x480/00FFFF/000000"></div>
                            <div class="blog-grid-text p-4">
                                <h3 class="h5 mb-3"><a href="#!">Business people success master plan</a></h3>
                                <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <div class="meta meta-style2">
                                    <ul>
                                        <li><a href="#!"><i class="fas fa-calendar-alt"></i> 16 May, <script>document.write(new Date().getFullYear())</script>2022</a></li>
                                        <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                        <li><a href="#!"><i class="fas fa-comments"></i> 58</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                <div class="row mt-6 wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="col-12">
                        <div class="pagination text-small text-uppercase text-extra-dark-gray">
                            <ul>
                                <li><a href="#!"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li><a href="#!">2</a></li>
                                <li><a href="#!">3</a></li>
                                <li><a href="#!">Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>