
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container justify-content-center">
      <a class="navbar-brand" href="{% url 'p-hi' %}">Home</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p-hi' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 're' %}">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 're' %}">Redirect</a>
            </li>
=
        </ul>
    </div>
</nav>
